/* Homepage*/

/* header*/

header {
  display: flex;
  align-items: center;
  padding: 20px 10%;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d9d9d9;
}

#Logo {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
.nav-icon a {
  margin-right: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and(max-width: 414px) {
  #Logo {
    width: 30%;
    margin-left: 0;
  }
}

/* navigation menu */

.navbar {
  padding: 7px;
  margin-top: 40px;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.navbar a {
  list-style: none;
  text-decoration: none;
  color: #0f420e;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}

.search {
  display: none;
}

#toggler,
input,
label,
i {
  display: none;
}

.menu-phone {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .navbar {
    gap: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }

  .search {
    display: block;
    position: relative;
  }

  .search input {
    width: 80%;
    padding: 20px;
    background-color: #d9d9d9;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
  }
  .searchicon i {
    font-size: 20px;
    color: #0f420e;
    float: right;
    position: relative;
    top: -40px;
    right: 10px;
  }

  label {
    display: block;
    font-size: 50px;
    cursor: pointer;
    font-weight: 500;
    color: #d9d9d9;
    position: relative;
    top: 50px;
  }
  #toggler,
  input,
  label,
  i {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  #toggler:checked ~ .menu-phone {
    display: block;
  }
  .menu-phone ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
    margin-top: 10px;
  }

  .menu-phone ul li {
    padding: 10px;
  }

  .menu-phone ul li a {
    color: #0f420e;
    text-decoration: none;
    font-size: 16px;
    font-family: "Cormorant Garamond", serif;
  }
}

/* the following 45 lines of code was adapted from ChatGPT Accessed 2023-11-22*/
@media only screen and (max-width: 1200px) {
  label {
    top: 50px;
    left: -10px;
  }
  .search input {
    width: 70%;
  }
  .searchicon i {
    top: -40px;
    right: 0;
  }
}
/*Detaile Page*/
/*main*/
.menuforthepreviouspage {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.menuforthepreviouspage a {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
.costofproduct {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  text-align: center;
  cursor: pointer;
}
.nacklaceimg-container {
  width: 800px;
  margin-top: 30px;
  margin-right: 25px;
  margin-left: 30px;
  /* the following stylization was adapted from https://codepen.io/Tylerfumich87/pen/xxWGVgO 2023-11-22 */
  display: flex;
  flex-wrap: wrap;
  /* the following stylization was adapted from https://www.youtube.com/watch?app=desktop&v=lgX38fNbxmw 2023-11-22 */
  float: left;
}

.nacklaceimg-container img {
  width: 50%;
  margin-bottom: 0px;
  height: 500px;
}
.text-container {
  display: grid;
  grid-template-columns: 90%;
  margin-bottom: 200px;
  margin-left: 100px;
  margin-right: 50px;
}
.text-container h2 {
  font-family: "cormorant garamond", sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 0px;
}
.detailpagebody {
  font-size: 20px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.detailpagebody h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.link-readmore {
  color: rgb(0, 0, 0);
  text-decoration: line;
}
#addtobagbutton {
  background-color: #000000;
  border: 1px solid #000000;
  width: 470px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  cursor: pointer;
}

.textcontact-advisor {
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  width: 470px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa-solid fa-truck-fast {
  margin-right: 10px;
}
.link-storeandadvisor {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.paypal-findstore {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}
.description-h4 {
  font-size: 17px;
  font-family: "Karla", sans-serif;
  font-weight: Bold;
  margin-bottom: 3px;
}
.description-details {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
}
/* the following stylization was inspired by https://www.w3schools.com/css/css_list.asp  2023-12-4*/
ol {
  list-style-type: circle;
}
.greenline-extracontent {
  /* the following stylization was inspired by https://www.tutorialrepublic.com/faq/how-to-change-the-color-of-an-hr-element-using-css.php 2023-11-23*/
  background-color: #0f420e;
  height: 2px;
  border: none;
  width: 1000px;
  justify-content: center;
}
.extra-container {
  font-size: 25px;
  font-family: "cormorant garamond", sans-serif;
  font-weight: 500;
  text-align: center;
}
.extra-containerline {
  justify-content: center;
  background-color: #848484;
  width: 200px;
}
.extraproducts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 5px;
  overflow: auto;
  white-space: nowrap;
}

figure {
  margin-left: 20px;
  margin-right: 20px;
}
.extraproducts-container img {
  width: 230px;
}
.linkforextraproducts {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.costof-extraproduct {
  font-family: "karla", sans-serif;
  font-size: 16px;
  color: rgb(138, 138, 138);
}
.extraproductscontainer-figcaption {
  font-family: "karla", sans-serif;
  font-size: 16px;
}

/*Popup Detail Page*/

.popupmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 40;
  top: 0;
  overflow: auto;
}

.popup {
  width: 500px;
  height: 550px;
  background-color: white;
  border-radius: 4px;
}

.popup a {
  color: #000000;
  text-decoration: none;
}
.popup img {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
}
.popuph3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}
.popuptextcontainer {
  font-size: 20px;
  font-weight: 400;
  font-family: "Karla", sans-serif;
  margin-top: 40px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 90%;
  margin-bottom: 100px;
}
.popupline {
  width: 450px;
  background-color: #0f420e;
  height: 2px;
  border: none;
}
.popupquantity {
  margin-top: 20px;
}
.delivery-text {
  font-size: 15px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  margin-left: 20px;
}
.checkoutbutton-text {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  text-align: center;
}
#checkoutbutton {
  background-color: #000000;
  border: 1px solid #000000;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  cursor: pointer;
  display: grid;
}

@media only screen and (max-width: 1000px) {
  .nacklaceimg-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    float: none;
    justify-content: center;
  }
  .nacklaceimg-container img {
    width: 50%;
    height: auto;
  }
  .text-container {
    float: none;
    width: 90%;
    margin-left: auto;
  }
  .text-container h2 {
    font-family: "cormorant garamond", sans-serif;
    font-size: 23.5px;
    font-weight: 100;
    margin-left: 0rem;
  }
  .detailpagebody {
    font-size: 18px;
    font-weight: 200;
    font-family: "Karla", sans-serif;
    margin-left: 4px;
  }
  .greenline-extracontent {
    width: auto;
  }
  .detailpagebody h4 {
    margin-left: 0px;
  }
  .fa-solid .fa-truck-fast {
    margin-right: 0px;
    padding: 0;
  }
  #addtobagbutton {
    background-color: #000000;
    border: 1px solid #000000;
    width: auto;
    cursor: pointer;
    text-align: center;
  }
  .textcontact-advisor {
    border: 1px solid #000000;
    font-size: 24px;
    font-weight: 500;
    font-family: "Karla", sans-serif;
    width: auto;
    height: 50px;
    text-align: center;
  }
  .description-h4 {
    font-size: 17px;
    font-family: "Karla", sans-serif;
    font-weight: Bold;
    margin-bottom: 3px;
    margin-left: 5px;
  }
  .description-details {
    font-size: 15px;
    font-weight: 500;
    font-family: "Karla", sans-serif;
    margin: 5px;
  }

  .extra-container {
    visibility: hidden;
  }
  .extraproducts-container {
    display: none;
  }
  .popupmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 150px;
    overflow: scroll;
  }
  .popup img {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
  }
  .popuph3 {
    font-size: 20px;

    margin-right: 60px;
  }

  .popupline {
    width: 500px;
  }
  .popupquantity {
    margin-top: 20px;
  }
  .delivery-text {
    font-size: 15px;
    font-weight: 500;
    font-family: "Karla", sans-serif;
    margin-left: 20px;
  }
  .checkoutbutton-text {
    margin-left: 30px;
  }
  #checkoutbutton {
    width: 300x;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 35px;
    margin-left: 20px;
  }
}

/* Checkout Page*/
.list-checkout {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.shoppingbaglink {
  color: #000000;
  text-decoration: none;
}
.ordersummary {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  width: 450px;
  height: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}
.ordersummaryimg {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 100px;
}
.heading-ordersummary {
  font-family: "lato", sans-serif;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
}
.edit-ordersummary {
  font-family: "lato", sans-serif;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 18px;
  margin-left: 180px;
}
.subtotal-ordersummary {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 18px;
  margin-left: 20px;
}
.estimatedtotal-ordersummary {
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;

  margin-left: -250px;
}
.purchase-button {
  background-color: #000000;
  border: 1px solid #000000;
  width: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  margin-left: 25px;
  cursor: pointer;
}
.purchase-text {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50;
  top: 40;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.popup-content {
  background-color: white;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
  width: 60%;
  height: auto;
}
.popup-content h2 {
  color: #0f420e;
  font-size: 20px;
  font-weight: bold;
}
.popup-content p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.orderbtn {
  background-color: #0f420e;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

/* Media for the checkout page  */
@media only screen and (max-width: 1200px) {
  .ordersummary {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    width: 90%;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    margin-left: 1.3rem;
    margin-right: 2.6rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
  .heading-ordersummary {
    font-family: "lato", sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 0px;
  }
  .ordersummaryimg {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .edit-ordersummary {
    font-family: "lato", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    margin-left: 18.5rem;
    margin-top: 1.3rem;
  }
  .subtotal-ordersummary {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0.7rem;
    margin-left: 1.3rem;
  }
  .estimatedtotal-ordersummary {
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 20px;
  }
  .purchase-button {
    background-color: #000000;
    border: 0.5px solid #000000;
    width: 80%;
    margin-bottom: 0.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
  }
  .purchase-text {
    color: white;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 25px;
    font-weight: 500;
    font-family: "Karla", sans-serif;
  }
  .checkoutcontainer {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-bottom: 100px;
  }
  .paymentmethod {
    margin-bottom: 10px;
    padding: 0px;
  }

  .methods-pay {
    top: 10%;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    color: #000000;
  }
  .shipping-method {
    top: 10%;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    color: #000000;
  }
}
.checkoutcontainer {
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 10px;
}

.paymentmethod {
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 20px;
}
#textarea {
  /* the following stylization was inspired by https://www.w3schools.com/css/css_form.asp 2023-12-1*/
  color: #848484;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  font-family: "lato", sans-serif;
  font-size: 17px;
  border-radius: 5%;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}
/*the following stylization was inspired by https://www.w3schools.com/css/css_dropdowns.asp*/
.drop-button {
  background-color: white;
  color: black;
  padding: none;
  font-family: "lato", sans-serif;
  font-size: 16px;
  border: none;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gift-dropdown {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 16px;
  min-width: 160px;
  z-index: 2;
  background-color: #f1f1f1;
  font-family: "lato", sans-serif;
}

.dropdown-content a {
  color: #0f420e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.611);
}

.gift-dropdown:hover .dropdown-content {
  display: block;
}

/* Check box for the payment method*/
/*the following stylization was inspired by https://www.w3schools.com/howto/howto_css_custom_checkbox.asp 2023-12-1 */
.methods-pay {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: "lato", sans-serif;
  font-size: 20px;
}

.methods-pay input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 20px;
  border: 0.5px solid black;
}

.methods-pay:hover input ~ .checkmark {
  background-color: #0f420e;
}

.methods-pay input:checked ~ .checkmark {
  background-color: #0f420e;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.methods-pay input:checked ~ .checkmark:after {
  display: block;
}

/*Check box for the shipping method*/
/*the following stylization was inspired by https://www.w3schools.com/howto/howto_css_custom_checkbox.asp 2023-12-1 */
.shipping-method {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: "lato", sans-serif;
  font-size: 20px;
}

.shipping-method input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 20px;
  border: 0.5px solid black;
}

.shipping-method:hover input ~ .mark {
  background-color: #0f420e;
}

.shipping-method input:checked ~ .mark {
  background-color: #0f420e;
}

.shipping-method:after {
  content: "";
  position: absolute;
  display: none;
}

.shipping-method input:checked ~ .mark:after {
  display: block;
}

/* footer */

#detailpagefooter {
  background-color: #d9d9d9;
  padding: 20px;
  width: auto;
  bottom: -170;
  position: relative;
  padding-top: 0px;
  padding-bottom: 10px;
}

#logofooter {
  display: flex;
  margin-left: 40%;
  width: 20%;
  position: relative;
  bottom: 20px;
}

#credit {
  text-align: center;
  position: absolute;
  bottom: 8px;
  right: 0px;
  left: 0px;
}

.latest {
  float: right;
  position: relative;
  bottom: 60px;
  margin-right: 9%;
}

.latest h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.latest h5 {
  line-height: 0.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 16px;
}
.footerline {
  visibility: hidden;
}
.mail {
  display: block;
  padding: 7px 80px;
  color: black;
}

.mail input {
  width: 400px;
  padding: 10px;
  margin-right: 5px;
}

.footer-btn {
  position: relative;
  bottom: -10px;
  font-family: "Lato", sans-serif;
  color: grey;
  text-decoration: none;
  font-size: 16px;
}

.socials a {
  color: white;
  font-size: 40px;
  font-weight: 400;
}
.socials {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  position: relative;
  bottom: -40px;
}

.finfo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 10px;
}

.row {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0;
  margin-right: 10px;
  flex: 1 1 10%;
}

h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 16px;
}

li {
  font-family: "Karla", sans-serif;
  font-size: 15px;
}

#button {
  display: none;
}

.subscribe {
  display: none;
}

.panel li {
  color: black;

  margin-left: 10px;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .latest {
    bottom: 30px;
  }
  .socials {
    display: flex;
    gap: 10px;
    position: relative;
    bottom: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .row {
    flex: 1 1 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  #detailpagefooter {
    padding-bottom: 100px;
  }
  .row li {
    display: none;
  }
  #button,
  .down-arrow i {
    display: block;
    color: black;
  }
  h4,
  #button .down-arrow i {
    display: flex;
  }

  .socials {
    align-items: center;
  }

  .latest {
    display: none;
  }

  #logofooter {
    float: right;
    right: 0px;
    width: 40%;
    position: absolute;
    top: 10%;
  }
  #credit {
    margin-right: auto;
    margin-left: auto;
  }
  .down-arrow {
    background-color: #d9d9d9;
    color: none;
    border: none;
    cursor: pointer;
    padding: 4px;
  }

  /* the following 11 lines of code was adapted from ChatGPT Accessed 2023-11-28 */
  .down-arrow i {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  .row.active .down-arrow i {
    transform: rotate(180deg);
  }

  .finfo .row {
    cursor: pointer;
  }

  .finfo .row.active .panel {
    display: block;
  }

  /* the following 6 lines of code was adapted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown Accessed 2023-11-28*/
  .panel {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }

  .panel li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

/*Footer for the checkout*/
.checkout-footer {
  background-color: #0f420e;
  position: relative;
  bottom: -200;
  margin-top: 100px;
  margin-left: 0px;
  padding: 10px;
  width: auto;
  /* the following code was adapted by https://www.youtube.com/watch?v=5WoQm7tR6EA 2023-12-6*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.checkoutfooter-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.checkout-footer a {
  color: #ffffff;
  text-decoration: underline;
}
.checkoutfooter-content {
  margin-left: 50px;
  margin-right: 100px;
  padding: 0;

  flex: 1 1 10%;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Karla", sans-serif;
}

@media only screen and (max-width: 1200px) {
  .checkout-footer {
    padding: 0px;
    background-color: #0f420e;
    position: absolute;
    width: 100%;
    bottom: -1100px;
    margin-left: 0;
  }
  .checkoutfooter-container {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    font-family: "Karla", sans-serif;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .checkoutfooter-content {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Checkout Pop-up */
.purchasebtn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
  width: 60%;
  height: auto;
}

.popup-content h2 {
  color: #0f420e;
  font-size: 20px;
  font-weight: bold;
}

.popup-content p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.orderbtn {
  background-color: #0f420e;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px;
}
